<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="KeePassWin" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <!-- SA1008 and SA1009 are set as info until StyleCop understands Tuples -->
    <Rule Id="SA1008" Action="Info" />
    <Rule Id="SA1009" Action="Info" />

    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1133" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1216" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1405" Action="None" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>